#Wrapper {
    background-color: #333;
    background-image: url("");
}

.box {
    background-color: #444;
}

body {
    background-color: #333;
}

p {
    color: #ffffff;
}

.reply_content {
    color: #ffffff;
}

a {
    color: #bbb;
}

div.topic_content {
    color: #eee;
}

.tag {
    background-color: #383838;
}

.cell {
    border-bottom-width: 1px;
    border-color: #333;
}

.item_title {
    text-shadow: 0px 0px 0px;
}

.node {
    background-color: #333333;
}

.count_livid {
    background-color: #757475;
}

.inner {
    background-color: #5c5b5c;
}

div.cell {
    background-color: #454545;
}

#Top {
    background-color: #707070;
}

#Bottom {
    background-color: #333;
}

.item_hot_topic_title {
    text-shadow: 0px 0px 0px;
}

div.box {
    border-color: #333;
}

div.topic_buttons {
    background: linear-gradient(to bottom, #444 0%,#333 100%);
}

a.tb {
    text-shadow: 0px 0px 0px;
}

textarea.mll {
    background-color: #636363;
    color: #ffffff;
}

input.super.normal.button {
    background-color: #6b6b6b;
    color: #cccccc;
    text-shadow: 0px 0px 0px
;
}

div.header {
    border-color: #2e2e2e;
}

.payload {
    background-color: #575757;
}

a.page_normal {
    background-color: #333333;
}

a.page_current {
    background-color: #4f4f4f;
}

input.page_input {
    background-color: #303030;
}

a.balance_area {
    background: -webkit-linear-gradient(top, #555 0%,#333 100%);
    text-shadow: 0px 0px 0px;
}

div.header h1 {
    color: #ffffff;
}
